
<div class="container form-box">
    <h1>Simple Contact Form</h1>
    
    <form [formGroup]="sampleform" (ngSubmit)="submit()">
        <div class="form-group">
            <label >Name</label>
            <input class="form-control" type="text" formControlName="name" [(ngModel)]="obj.name">
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input class="form-control" type="number" formControlName="number" [(ngModel)]="obj.number">
        </div>
        <div class="form-group">
            <label>Address</label>
            <textarea class="form-control" formControlName="address" [(ngModel)]="obj.address"></textarea>
        </div>
        <input class="btn btn-primary" type="submit" />
    </form>
</div>
